h1 {
    margin: 0;
    color: #EEEEEE;
}




.App {
    display: flex;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-chatbar {
    display: flex;
    flex-direction: column;
    flex: 1
}


.header {
    background-color: #424242;
    padding: 1rem;
}

.messages-container {
    background-color: #424242;
    border-top: 1px solid #FFD369;
    border-bottom: 1px solid #FFD369;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
    position: relative;
    
  
}

.send-message-container {
    background-color: #424242;
    padding: 1.4rem;
}

